/* .App {
  font-family: sans-serif;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%); */
}
.demo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-lg {
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
::placeholder {
  font-size: 14px;
  letter-spacing: 0.5px;
}
.form-control-lg {
  font-size: 16px;
  padding: 25px 20px;
}
.font-500 {
  font-weight: 500;
}
.image-size-small {
  width: 140px;
  margin: 0 auto;
}
.image-size-small img {
  width: 140px;
  margin-bottom: -110px;
}
.icon-camera {
  position: absolute;
  right: -1px;
  top: 21px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


